html,
body {
  margin: 0;
  padding: 0;
}

.signinContainer {
  height: 100vh;
  position: relative;
  background: linear-gradient(to top right, #ebf1ff 30%, #ffffff 70%);

  .header {
    height: 10%;
  }

  .logo {
    padding-top: 20px;
    padding-left: 50px;
  }

  .lowerSection {
    height: 90%;
  }
  .leftside {
    background-color: yellow;
  }
}
